<h1>Ayuda</h1>
<h2>¿Qué es un quiz?</h2>
<p>Un quiz es un tipo de juego en el que el jugador debe responder correctamente a unas preguntas.</p>
<h2>¿Cómo se responde?</h2>
<p> Para responder debes elegir una de las opciones.</p>
<h2> Objetivo del portal </h2>
<p> El objetivo de este portal es realizar un quiz.</p>


